{% extends 'base.html' %}
{% load static %}

{% block title %}Comparar Jugadores{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/comparacion.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4 comparar-container">
    <h2 class="text-center text-warning mb-4">Comparar Jugadores</h2>

    <!-- Botón para agregar jugadores -->
    <div class="text-center mb-4">
        <button id="btn-agregar-jugador" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-buscar-jugador">Buscar Jugador</button>
        <button id="btn-comparar" class="btn btn-success">Comparar</button>
        <a class="btn btn-warning" href="{% url 'core:comparar' %}">Limpiar</a>
    </div>

    <!-- Sección de comparación -->
    <div class="row justify-content-center">
        <!-- Jugador 1 -->
        <div class="col-lg-3 col-md-4 col-sm-6 comparar-box">
            <div class="jugador-box text-center">
                <h5 class="text-warning">Jugador 1</h5>
                <!-- Div para contener el renderizado del jugador -->
                <div id="jugador-1" class="jugador-placeholder">
                    Selecciona un jugador
                </div>
            </div>
            <div id="valores-jugador-1" class="valores-placeholder"></div>
        </div>
        
        <!-- Espacio para el gráfico -->
        <div class="col-md-5 d-flex align-items-center justify-content-center">
            <canvas id="grafico-hexagonal" width="500" height="500"></canvas>
        </div>

        <!-- Jugador 2 -->
        <div class="col-lg-3 col-md-4 col-sm-6 comparar-box">
            <div class="jugador-box text-center">
                <h5 class="text-warning">Jugador 2</h5>
                <!-- Div para contener el renderizado del jugador -->
                <div id="jugador-2" class="jugador-placeholder">
                    Selecciona un jugador
                </div>
            </div>
            <div id="valores-jugador-2" class="valores-placeholder"></div>
        </div>
    </div>

    
</div>

<!-- Modal de búsqueda -->
<div id="modal-buscar-jugador" class="modal fade" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="modalTitle">Buscar Jugador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="input-buscar-jugador" class="form-control" placeholder="Buscar jugador...">
                <ul id="lista-jugadores" class="list-group mt-3"></ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/comparar_jugadores.js' %}"></script>
{% endblock %}
