{% extends 'base.html' %}
{% load static %}
{% block title %}Menu Principal{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}
<main style="padding-bottom: 4rem;">
    <section>
        <div class="container py-5">
            <div class="row g-4 justify-content-center">
                <!-- Tarjeta de Jugadores -->
                <div class="col-md-3">
                    <div class="card shadow-lg border-0 rounded-4">
                        <div class="card-header bg-success text-white text-center rounded-top py-3">
                            <h5 class="fw-bold mb-0">MÓDULO JUGADORES</h5>
                        </div>
                        <div class="card-body text-center py-4">
                            <img src="{% static 'img/icono_j.png' %}" alt="icono jugadores" class="img-fluid" style="width: 100px; height: 100px;">
                        </div>
                        <div class="card-footer text-center py-3 bg-light rounded-bottom">
                            <a href="{% url 'core:listjugadores' %}" class="btn btn-success btn-lg fw-bold shadow-sm px-4">
                                <i class="bi bi-box-arrow-in-right me-2"></i>Ingresar
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Tarjeta de Valoraciones -->
                <div class="col-md-3">
                    <div class="card shadow-lg border-0 rounded-4">
                        <div class="card-header bg-success text-white text-center rounded-top py-3">
                            <h5 class="fw-bold mb-0">MÓDULO VALORACIONES</h5>
                        </div>
                        <div class="card-body text-center py-4">
                            <img src="{% static 'img/valoracion.svg' %}" alt="icono valoraciones" class="img-fluid" style="width: 100px; height: 100px;">
                        </div>
                        <div class="card-footer text-center py-3 bg-light rounded-bottom">
                            <a href="{% url 'valoraciones:modulo_valoraciones' %}" class="btn btn-success btn-lg fw-bold shadow-sm px-4">
                                <i class="bi bi-box-arrow-in-right me-2"></i>Ingresar
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow-lg border-0 rounded-4">
                        <div class="card-header bg-success text-white text-center rounded-top py-3">
                            <h5 class="fw-bold mb-0">DASHBOARDS</h5>
                        </div>
                        <div class="card-body text-center py-4">
                            <img src="{% static 'img/dashboards.svg' %}" alt="icono dashboards" class="img-fluid" style="width: 100px; height: 100px;">
                        </div>
                        <div class="card-footer text-center py-3 bg-light rounded-bottom">
                            <a href="{% url 'valoraciones:dashboards' %}" class="btn btn-success btn-lg fw-bold shadow-sm px-4">
                                <i class="bi bi-box-arrow-in-right me-2"></i>Ingresar
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow-lg border-0 rounded-4">
                        <div class="card-header bg-success text-white text-center rounded-top py-3">
                            <h5 class="fw-bold mb-0">COMPARAR</h5>
                        </div>
                        <div class="card-body text-center py-4">
                            <img src="{% static 'img/comparar.png' %}" alt="icono dashboards" class="img-fluid" style="width: 100px; height: 100px;">
                        </div>
                        <div class="card-footer text-center py-3 bg-light rounded-bottom">
                            <a href="{% url 'core:comparar_jugadores' %}" class="btn btn-success btn-lg fw-bold shadow-sm px-4">
                                <i class="bi bi-box-arrow-in-right me-2"></i>Ingresar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<br>
{% endblock %}
