{% extends "base.html" %}
{% block title %}Seleccionar Jugador{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h2>Seleccionar Jugador</h2>
        </div>
        <div class="card-body">
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="jugador" class="form-label fw-bold">Jugador</label>
                    {{ form.jugador }}
                </div>
                <button type="submit" class="btn btn-primary">Continuar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
