{% extends 'base.html' %}
{% load static %}
{% block title %}Modulo Valoraciones{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Botones superiores -->
        <div class="col-md-12 mb-3 text-right d-flex justify-content-between">
            <div></div>
            <div>
                <a href="{% url 'valoraciones:crear_valoracion' %}" class="btn btn-success fw-bold">
                    <i class="bi bi-plus-circle me-2"></i> Generar Nueva Valoración
                </a>
                <a href="{% url 'core:menu' %}" class="btn btn-danger fw-bold">
                    <i class="bi bi-arrow-left-circle me-2"></i> Regresar
                </a>
            </div>
        </div>

        <!-- Tabla de valoraciones con filtros -->
        <div class="col-md-12">
            <div class="card shadow-sm mb-5">
                <div class="card-header bg-success">
                    <h2 class="mb-0 fw-bold text-center text-white">Lista de Valoraciones</h2>
                </div>
                <div class="card-body">
                    <!-- Formulario de filtros -->
                    <form method="get" class="mb-4">
                        <div class="input-group">
                            <input type="text" name="search" placeholder="Buscar por jugador" value="{{ request.GET.search|default:'' }}" class="form-control">
                            <select name="puesto" class="form-select">
                                <option value="">Filtrar por puestos</option>
                                {% for puesto in puestos %}
                                <option value="{{ puesto.id }}" {% if request.GET.puesto == puesto.id|stringformat:"s" %}selected{% endif %}>
                                    {{ puesto.puesto }}
                                </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-search"></i> Buscar
                            </button>
                            <a href="{% url 'valoraciones:modulo_valoraciones' %}" class="btn btn-warning">
                                <i class="bi bi-x-circle"></i> Limpiar
                            </a>
                        </div>
                    </form>


                    <!-- Tabla -->
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead class="table-success text-center">
                                <tr>
                                    <th>#</th>
                                    <th>Jugador</th>
                                    <th>Puesto</th>
                                    <th>Fecha de Valoración</th>
                                    <th>Promedio Total</th>
                                    <th>Rendimiento</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for valoracion in valoraciones %}
                                <tr class="text-center">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ valoracion.jugador.nombre }} {{ valoracion.jugador.apellido }}</td>
                                    <td>{{ valoracion.jugador.puesto.abreviatura }}</td>
                                    <td>{{ valoracion.fecha_registro|date:"d/m/Y" }}</td>
                                    <td>{{ valoracion.valoracion_total|floatformat:1 }}</td>
                                    <td>
                                        <!-- Alerta según el valor de valoración_total -->
                                        {% if valoracion.valoracion_total < 80 %}
                                            <span class="badge bg-danger">Bajo</span>
                                        {% else %}
                                            <span class="badge bg-success">Adecuado</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-2">
                                            <a href="?detalle={{ valoracion.id }}" class="btn btn-info btn-sm fw-bold">
                                                <i class="bi bi-eye"></i> Detalles
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7" class="text-center text-muted">No hay valoraciones registradas.</td>
                                </tr>
                                {% endfor %}
                            </tbody>                            
                        </table>
                    </div>


                    <!-- Paginación -->
                    <div class="d-flex justify-content-center mt-4">
                        {% if is_paginated %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}&puesto={{ request.GET.puesto }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for num in paginator.page_range %}
                                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}&search={{ request.GET.search }}&puesto={{ request.GET.puesto }}">{{ num }}</a>
                                </li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}&puesto={{ request.GET.puesto }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                    {% if detalle_valoracion %}
                    <div class="position-fixed top-50 start-50 translate-middle p-4" style="z-index: 1050; max-width: 600px; width: 100%;">
                        <div class="bg-white rounded shadow-lg border border-secondary">
                            <!-- Header del modal -->
                            <div class="card-header bg-success text-white text-center py-3 rounded-top">
                                <h3 class="mb-0 fw-bold">
                                    <i class="bi bi-bar-chart-fill me-2"></i>Detalles de la Valoración
                                </h3>
                            </div>
                            <!-- Cuerpo del modal -->
                            <div class="card-body px-4 py-3">
                                <!-- Detalle del jugador -->
                                <div class="mb-3">
                                    <div class="d-flex align-items-center mb-2">
                                        <i class="bi bi-person-fill text-muted me-2"></i>
                                        <span class="fw-bold text-muted">Jugador:</span>
                                    </div>
                                    <span>{{ detalle_valoracion.jugador.nombre }} {{ detalle_valoracion.jugador.apellido }}</span>
                                </div>
                                <!-- Detalle del puesto -->
                                <div class="mb-3">
                                    <div class="d-flex align-items-center mb-2">
                                        <i class="bi bi-clipboard-check-fill text-muted me-2"></i>
                                        <span class="fw-bold text-muted">Puesto:</span>
                                    </div>
                                    <span>{{ detalle_valoracion.jugador.puesto.abreviatura }} - {{ detalle_valoracion.jugador.puesto.puesto }} </span>
                                </div>
                                <!-- Fecha de valoración -->
                                <div class="mb-3">
                                    <div class="d-flex align-items-center mb-2">
                                        <i class="bi bi-calendar-event-fill text-muted me-2"></i>
                                        <span class="fw-bold text-muted">Fecha de Valoración:</span>
                                    </div>
                                    <span>{{ detalle_valoracion.fecha_registro|date:"d/m/Y" }}</span>
                                </div>
                                <!-- Valoración total -->
                                <div class="mb-3">
                                    <div class="d-flex align-items-center mb-2">
                                        <i class="bi bi-graph-up-arrow text-muted me-2"></i>
                                        <span class="fw-bold text-muted">Valoración Total:</span>
                                    </div>
                                    <span class="{% if detalle_valoracion.valoracion_total >= 80 %}text-success fw-bold{% else %}text-danger fw-bold{% endif %}">
                                        {{ detalle_valoracion.valoracion_total|floatformat:1 }} %
                                    </span>
                                </div>
                                <!-- Criterios evaluados -->
                                <div>
                                    <div class="d-flex align-items-center mb-2">
                                        <i class="bi bi-list-check text-muted me-2"></i>
                                        <span class="fw-bold text-muted">Criterios Evaluados (0 - 100):</span>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        {% for cualidad in cualidades_evaluadas %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span class="fw-bold">{{ cualidad.nombre }}</span>
                                            <span>{{ cualidad.valor|floatformat:1 }}</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- Footer del modal -->
                            <div class="card-footer text-center py-3 rounded-bottom bg-light">
                                <a href="{% url 'valoraciones:modulo_valoraciones' %}" class="btn btn-outline-secondary fw-bold">
                                    <i class="bi bi-x-circle"></i> Cerrar
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
