.icon-yellow {
    filter: invert(69%) sepia(91%) saturate(363%) hue-rotate(2deg) brightness(100%) contrast(103%);
}

.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}