{% extends 'base.html' %}

{% load static %}

{% block title %} PUESTO - CUALIDAD {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <h1 class="text-center text-white fw-bold">PUESTO - CUALIDAD</h1>
        <div class="d-flex justify-content-end">
            <a href="{% url 'submodulos:menu_submodulos' %}" class="btn btn-danger mb-3 fw-bold">REGRESAR</a>
        </div>
        


        <!-- Tarjeta para el formulario de creación o edición -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-success">
                    <h2 class="mb-0 fw-bold text-center mt-2 text-white">
                        {% if object %}Editar Puesto-Cualidad{% else %}Registrar Nuevo Puesto-Cualidad{% endif %}
                    </h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% if object %}{% url 'submodulos:editar_puesto_cualidad' object.pk %}{% else %}{% url 'submodulos:registrar_puesto_cualidad' %}{% endif %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for field, errors in form.errors.items %}
                                        <li>{{ field.label }}: {{ errors|join:", " }}</li>
                                    {% endfor %}
                                    {% if form.non_field_errors %}
                                        <li>{{ form.non_field_errors|join:", " }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}

                        <div class="form-group mb-3">
                            <label for="id_puesto">Puesto</label>
                            {{ form.puesto }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="id_cualidad">Cualidad</label>
                            {{ form.cualidad }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="id_peso">Peso</label>
                            {{ form.peso }}
                        </div>

                        <button type="submit" class="btn btn-success btn-block">
                            {% if object %}Actualizar{% else %}Registrar{% endif %}
                        </button>
                        {% if object %}
                            <a href="{% url 'submodulos:mantenimiento_puesto_cualidad' %}" class="btn btn-danger btn-block">Cancelar</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8 mb-3">
            <div class="card mb-5">
                <div class="card-header bg-success">
                    <h2 class="mb-0 fw-bold text-center mt-2 text-white">Puestos-Cualidades Registrados</h2>
                </div>

                <div class="card-body">
                    <form method="get" class="form-inline mb-3">
                        <input type="text" name="search" class="form-control mb-2 mr-sm-2" placeholder="Buscar por puesto o cualidad" value="{{ request.GET.search }}">
                        <select name="puesto" class="form-control mb-2 mr-sm-2">
                            <option value="">Filtrar por puestos</option>
                            {% for puesto in puestos %}
                                <option value="{{ puesto.id }}" {% if request.GET.rol == puesto.id|stringformat:"s" %}selected{% endif %}>{{ puesto.puesto }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                        <a href="{% url 'submodulos:mantenimiento_puesto_cualidad' %}" class="btn btn-warning">Limpiar</a>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Puesto</th>
                                    <th>Cualidad</th>
                                    <th>Peso</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for puesto_cualidad in puestos_cualidades %}
                                <tr>
                                    <td>{{ puesto_cualidad.puesto }}</td>
                                    <td>{{ puesto_cualidad.cualidad }}</td>
                                    <td>{{ puesto_cualidad.peso }}</td>
                                    <td>{% if puesto_cualidad.estado %}Activo{% else %}Inactivo{% endif %}</td>
                                    <td>
                                        <a href="{% url 'submodulos:editar_puesto_cualidad' puesto_cualidad.id %}" class="btn btn-primary btn-sm">Editar</a>
                                        {% if puesto_cualidad.estado %}
                                            <a href="{% url 'submodulos:activar-inactivar-puesto-cualidad' puesto_cualidad.id %}" class="btn btn-warning btn-sm">Inactivar</a>
                                        {% else %}
                                            <a href="{% url 'submodulos:activar-inactivar-puesto-cualidad' puesto_cualidad.id %}" class="btn btn-success btn-sm">Activar</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- PAGINACION -->
                        <div class="d-flex justify-content-center">
                            {% if is_paginated %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}&rol={{ request.GET.rol }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                        
                                    {% for object in paginator.page_range %}
                                    <li class="page-item {% if object == page_obj.number %}active{% endif %}">
                                        <a class="page-link" href="?page={{ object }}&search={{ request.GET.search }}&rol={{ request.GET.rol }}">{{ object }}</a>
                                    </li>
                                    {% endfor %}
                        
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}&rol={{ request.GET.rol }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
