{% extends 'base.html' %}

{% load static %}

{% block title %} MANTENIMIENTO CUALIDADES {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Tarjeta para el formulario de creación o edición -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-success">
                    <h2 class="mb-0 fw-bold text-center mt-2 text-white">{% if object %}Editar Cualidad{% else %}Registrar Cualidad{% endif %}</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% if object %}{% url 'submodulos:editar_cualidad' object.pk %}{% else %}{% url 'submodulos:registrar_cualidad' %}{% endif %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="id_cualidad">Cualidad</label>
                            <input type="text" name="cualidad" class="form-control" id="id_cualidad" placeholder="Ingrese la cualidad" value="{{ object.cualidad }}" required>
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger mt-2">{{ error }}</div>
                            {% endfor %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger mt-2">{{ error }}</div>
                                {% endfor %}
                            {% endfor %}

                        </div>
                        <button type="submit" class="btn btn-success btn-block">{% if object %}Actualizar{% else %}Registrar{% endif %}</button>
                        {% if object %} <!-- Solo muestra el botón de cancelar si se está editando -->
                            <a href="{% url 'submodulos:mantenimiento_cualidades' %}" class="btn btn-danger btn-block">Cancelar</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

        <!-- Tabla de paises -->
        <div class="col-md-8 mb-3">
            <div class="card mb-5">
                <div class="card-header bg-success">
                    <h2 class="mb-0 fw-bold text-center mt-2 text-white">Cualidades Registradas</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Cualidad</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cualidad in cualidades %}
                                <tr>
                                    <td>{{ cualidad.cualidad }}</td>
                                    <td>{% if cualidad.estado %}Activo{% else %}Inactivo{% endif %}</td>
                                    <td>
                                        <a href="{% url 'submodulos:editar_cualidad' cualidad.id %}" class="btn btn-primary btn-sm">Editar</a>
                                        {% if cualidad.estado %}
                                            <a href="{% url 'submodulos:activar-inactivar-cualidad' cualidad.id %}" class="btn btn-warning btn-sm">Inactivar</a>
                                        {% else %}
                                            <a href="{% url 'submodulos:activar-inactivar-cualidad' cualidad.id %}" class="btn btn-success btn-sm">Activar</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
