{% extends 'base.html' %}

{% load static %}

{% block title %} MANTENIMIENTO ESTADISTICAS {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Tarjeta para el formulario de creación o edición -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-success">
                    <h2 class="mb-0 fw-bold text-center mt-2 text-white">
                        {% if object %}Editar Estadistica{% else %}Registrar Nueva Estadistica{% endif %}
                    </h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% if object %}{% url 'submodulos:editar_estadistica' object.pk %}{% else %}{% url 'submodulos:registrar_estadistica' %}{% endif %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for field, errors in form.errors.items %}
                                        <li>{{ field.label }}: {{ errors|join:", " }}</li>
                                    {% endfor %}
                                    {% if form.non_field_errors %}
                                        <li>{{ form.non_field_errors|join:", " }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    

                        <div class="form-group mb-3">
                            <label for="id_estadistica">Nombre de la Estadistica</label>
                            {{ form.estadistica }}
                        </div>                        
                        <div class="form-group mb-3">
                            <label for="id_cualidad">Cualidad</label>
                            {{ form.cualidad }}
                            {% if form.cualidad.errors %}
                                <div class="alert alert-danger mt-2">{{ form.cualidad.errors }}</div>
                            {% endif %}
                        </div>                        
                        <button type="submit" class="btn btn-success btn-block">
                            {% if object %}Actualizar{% else %}Registrar{% endif %}
                        </button>
                        {% if object %}
                            <a href="{% url 'submodulos:mantenimiento_estadisticas' %}" class="btn btn-danger btn-block">Cancelar</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8 mb-3">
            <div class="card mb-5">
                <div class="card-header bg-success">
                    <h2 class="mb-0 fw-bold text-center mt-2 text-white">Estadisticas Registrados</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Estadistica</th>
                                    <th>Cualidad</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for estadistica in estadisticas %}
                                <tr>
                                    <td>{{ estadistica.estadistica }}</td>
                                    <td>{{ estadistica.cualidad }}</td>
                                    <td>{% if estadistica.estado %}Activo{% else %}Inactivo{% endif %}</td>
                                    <td>
                                        <a href="{% url 'submodulos:editar_estadistica' estadistica.id %}" class="btn btn-primary btn-sm">Editar</a>
                                        {% if estadistica.estado %}
                                            <a href="{% url 'submodulos:activar-inactivar-estadistica' estadistica.id %}" class="btn btn-warning btn-sm">Inactivar</a>
                                        {% else %}
                                            <a href="{% url 'submodulos:activar-inactivar-estadistica' estadistica.id %}" class="btn btn-success btn-sm">Activar</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
