{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplicativo Web para realizar un análisis del rendimiento deportivo de los futbolistas en un club.">
    <meta name="keywords" content="futbol, valoraciones, plantillas, jugadores">
    <meta name="author" content="Josue Vallejo, Robert Vera">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <style>
        .input-group {
            width: 100%; /* Asegura que la entrada ocupe todo el ancho disponible */
        }
        .error-message {
            font-size: 0.875rem; /* Tamaño de fuente para mensajes de error */
        }
        .valid {
            color: green;
        }
        .invalid {
            color: red;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" id="navbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'core:menu' %}">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <span class="nav-link fw-bold text-warning"> {{ usuario.nombre_usuario }}</span>
                </li>
                <li class="nav-item">
                    <a href="{% url 'Login:cambiar_contrasena' %}" class="nav-link">Cambiar Contraseña</a>
                  </li>
                <li class="nav-item">
                  {% if request.session.user_id %}
                      <li><a href="{% url 'Login:logout_usuario' %}" class="nav-link">Cerrar sesión</a></li>
                  {% else %}
                      <li><a href="{% url 'Login:login_usuario' %}" class="nav-link">Iniciar sesión</a></li>
                  {% endif %}
                </li>
              </ul>      
            </div>
          </div>
        </nav>
      </header>
    <main  class="d-flex justify-content-center align-items-center vh-100">
        <section>
            <form method="POST" id="change-password-form">
                {% csrf_token %}
                <div class="bg-white p-5 rounded-5">
                    <div class="d-flex justify-content-center">
                        <h1 class="text-center fs-1 fw-bold">CAMBIAR CONTRASEÑA</h1>
                    </div>

                    <!-- Mostrar errores de forma global -->
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}

                    <div class="input-group mt-4">
                        <div class="input-group-text bg-success rounded-3">
                            <img src="{% static 'img/key.svg' %}" alt="clave_icono">
                        </div>
                        <input class="form-control rounded-3" type="password" name="contrasena_actual" id="contrasena_actual" placeholder="INGRESE SU CONTRASEÑA ACTUAL" required>
                        <button type="button" id="toggle-current-password" class="btn btn-outline-secondary rounded-3">
                            <img src="{% static 'img/eye-fill.svg' %}" alt="Ver contraseña" id="eye-icon-current">
                        </button>
                    </div>

                    {% if form.contrasena_actual.errors %}
                        <div class="text-danger error-message mt-2">
                            {% for error in form.contrasena_actual.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="input-group mt-4">
                        <div class="input-group-text bg-success rounded-3">
                            <img src="{% static 'img/key.svg' %}" alt="clave_icono">
                        </div>
                        <input class="form-control rounded-3" type="password" name="nueva_contrasena" id="nueva_contrasena" placeholder="INGRESE SU NUEVA CONTRASEÑA" required>
                        <button type="button" id="toggle-new-password" class="btn btn-outline-secondary rounded-3">
                            <img src="{% static 'img/eye-fill.svg' %}" alt="Ver contraseña" id="eye-icon-new">
                        </button>
                    </div>
                    <div id="new-password-requirements" class="mt-2">
                        <ul>
                            <li id="length" class="invalid">Al menos 8 caracteres</li>
                            <li id="uppercase" class="invalid">Al menos una letra mayúscula</li>
                            <li id="lowercase" class="invalid">Al menos una letra minúscula</li>
                            <li id="number" class="invalid">Al menos un número</li>
                            <li id="special" class="invalid">Al menos un carácter especial (!@#$%^&*)</li>
                        </ul>
                    </div>

                    <div class="input-group mt-4 mb-2">
                        <div class="input-group-text bg-success rounded-3">
                            <img src="{% static 'img/key.svg' %}" alt="clave_icono">
                        </div>
                        <input class="form-control rounded-3" type="password" name="confirmar_contrasena" id="confirmar_contrasena" placeholder="CONFIRME SU NUEVA CONTRASEÑA" required>
                        <button type="button" id="toggle-confirm-password" class="btn btn-outline-secondary rounded-3">
                            <img src="{% static 'img/eye-fill.svg' %}" alt="Ver contraseña" id="eye-icon-confirm">
                        </button>
                    </div>

                    {% if form.confirmar_contrasena.errors %}
                        <div class="text-danger error-message mt-2">
                            {% for error in form.confirmar_contrasena.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <button type="submit" class="btn btn-success w-100 mt-4 rounded-5">CONTINUAR</button>
                </div>
            </form>
        </section>
    </main>
    <footer class="footer d-flex fixed-bottom" id="footer">
        <div class="container text-center">
            <p class="mb-0 text-white">© 2024 VV Enterprises. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        // Función para mostrar requisitos visuales en tiempo real
        function checkNewPasswordStrength() {
            const password = document.getElementById('nueva_contrasena').value;
            
            // Requisitos
            const length = document.getElementById('length');
            const uppercase = document.getElementById('uppercase');
            const lowercase = document.getElementById('lowercase');
            const number = document.getElementById('number');
            const special = document.getElementById('special');

            // Comprobar requisitos visuales
            length.className = password.length >= 8 ? 'valid' : 'invalid';
            uppercase.className = /[A-Z]/.test(password) ? 'valid' : 'invalid';
            lowercase.className = /[a-z]/.test(password) ? 'valid' : 'invalid';
            number.className = /[0-9]/.test(password) ? 'valid' : 'invalid';
            special.className = /[!@#$%^&*]/.test(password) ? 'valid' : 'invalid';
        }

        // Agregar evento de entrada al campo de nueva contraseña
        document.getElementById('nueva_contrasena').addEventListener('input', checkNewPasswordStrength);
        
        // Alternar visibilidad de la contraseña actual
        document.getElementById('toggle-current-password').addEventListener('click', function() {
            const passwordInput = document.getElementById('contrasena_actual');
            const eyeIcon = document.getElementById('eye-icon-current');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.src = '{% static "img/eye-slash-fill.svg" %}'; // Cambia el icono a "ocultar"
            } else {
                passwordInput.type = 'password';
                eyeIcon.src = '{% static "img/eye-fill.svg" %}'; // Cambia el icono a "mostrar"
            }
        });

        // Alternar visibilidad de la nueva contraseña
        document.getElementById('toggle-new-password').addEventListener('click', function() {
            const passwordInput = document.getElementById('nueva_contrasena');
            const eyeIcon = document.getElementById('eye-icon-new');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.src = '{% static "img/eye-slash-fill.svg" %}'; // Cambia el icono a "ocultar"
            } else {
                passwordInput.type = 'password';
                eyeIcon.src = '{% static "img/eye-fill.svg" %}'; // Cambia el icono a "mostrar"
            }
        });

        // Alternar visibilidad de la contraseña de confirmación
        document.getElementById('toggle-confirm-password').addEventListener('click', function() {
            const confirmPasswordInput = document.getElementById('confirmar_contrasena');
            const eyeIconConfirm = document.getElementById('eye-icon-confirm');
            if (confirmPasswordInput.type === 'password') {
                confirmPasswordInput.type = 'text';
                eyeIconConfirm.src = '{% static "img/eye-slash-fill.svg" %}'; // Cambia el icono a "ocultar"
            } else {
                confirmPasswordInput.type = 'password';
                eyeIconConfirm.src = '{% static "img/eye-fill.svg" %}'; // Cambia el icono a "mostrar"
            }
        });
    </script>
</body>
</html>
