body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsl(0, 0%, 40%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#navbar {
    background-color: #004d40;
}

.navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: rgb(255, 230, 0);
}

/* Estilo para el contenido principal */
.main-content {
    padding: 40px; /* Hace que el contenido principal crezca para ocupar el espacio disponible */
}

#footer {
    background-color: #004d40;
}
#sidevar{
    background: #d41515;
    width: 500px;
    height: 500px;
}




/* CSS PARA DASHBOARDS */
#jugador-select-container {
    border: 1px solid #e0e0e0;
    transition: box-shadow 0.2s ease;
}
#jugador-select-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Selectores */
.jugador-select {
    border: 1px solid #ced4da;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.jugador-select:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.25);
}

/* Gráfico */
.card {
    background-color: #ffffff;
    border-radius: 10px;
}
.card-title {
    font-size: 1.25rem;
    color: #212529;
}
